.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transition: opacity 0.5s, visibility 0.5s ease-out;
  visibility: hidden;
  opacity: 0;
}
.popup_is-opened {
  visibility: visible;
  opacity: 1;
}
.popup__overflow {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.popup__input_type_error {
  padding-bottom: 9px;
  border-bottom-color: red;
  border-bottom-width: 1px;
  border-style: solid;
  margin-bottom: -10px;
}
.popup__input-error_active {
  min-width: 164px;
  max-width: 100%;
  color: #f00;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popup__container-image {
  padding-top: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.popup__link-image {
  max-width: 75vw;
  max-height: 75vh;
}
.popup__legend-image {
  max-width: 291px;
  max-height: 12px;
  margin-top: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1000px) {
  .popup_image-content {
    max-width: 75vw;
    max-height: 75vh;
  }
  .popup_image-link {
    max-width: 75vw;
    max-height: 75vh;
  }

  .popup__field-img {
    width: 100%;
    max-width: 238px;
  }
}
